wd01_graphite_3.1_0.0_A
wd01_graphite_3.1_1.0_A
wd01_graphite_3.1_2.0_A
wd01_graphite_3.1_3.0_A
wd01_graphite_3.1_4.0_A
wd01_graphite_3.1_5.0_A
wd01_graphite_3.1_6.0_A
wd01_graphite_4.0_0.0_A
wd01_graphite_4.0_0.0_B
wd01_graphite_4.0_1.0_A
wd01_graphite_4.0_1.0_B
wd01_graphite_4.0_2.0_A
wd01_graphite_4.0_2.0_B
wd01_graphite_4.0_3.0_A
wd01_graphite_4.0_3.0_B
wd01_graphite_4.0_4.0_A
wd01_graphite_4.0_4.0_B
wd01_graphite_5.5_0.0_A
wd01_graphite_5.5_0.0_B
wd01_graphite_5.5_1.0_A
wd01_graphite_5.5_1.0_B
wd01_graphite_5.5_2.0_A
wd01_graphite_5.5_2.0_B
wd01_graphite_5.5_3.0_A
wd01_graphite_5.5_3.0_B
wd01_silicate_3.1_0.0_A
wd01_silicate_3.1_1.0_A
wd01_silicate_3.1_2.0_A
wd01_silicate_3.1_3.0_A
wd01_silicate_3.1_4.0_A
wd01_silicate_3.1_5.0_A
wd01_silicate_3.1_6.0_A
wd01_silicate_4.0_0.0_A
wd01_silicate_4.0_0.0_B
wd01_silicate_4.0_1.0_A
wd01_silicate_4.0_1.0_B
wd01_silicate_4.0_2.0_A
wd01_silicate_4.0_2.0_B
wd01_silicate_4.0_3.0_A
wd01_silicate_4.0_3.0_B
wd01_silicate_4.0_4.0_A
wd01_silicate_4.0_4.0_B
wd01_silicate_5.5_0.0_A
wd01_silicate_5.5_0.0_B
wd01_silicate_5.5_1.0_A
wd01_silicate_5.5_1.0_B
wd01_silicate_5.5_2.0_A
wd01_silicate_5.5_2.0_B
wd01_silicate_5.5_3.0_A
wd01_silicate_5.5_3.0_B
